/* Basic.css */

a, body, div, em, input, label, legend, li, ol, p, select, span, strong, td, th, textarea, u, ul {
    font-family: 'Lato', sans-serif !important
}

span.invisible {
    display: none
}

#main p, #main a, #main li {
    font: 1.3em 'Lato', sans-serif;
    line-height: 1.5;
}

#main a {
    font: 1em 'Lato', sans-serif;
    text-decoration: none;
}

#main a:hover {
    font: 1em 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 400
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    font: 1.45em/1em 'Lato', sans-serif;
    color: #669bbb;
    text-transform: uppercase;
    font-weight: 900
}

#right h1 {
    margin-bottom: 15px;
    padding: 5px;
    background-color: #721619;
    color: #fff
}

#right p, #right td {
    font: 1.15em 'Lato', sans-serif;
    color: #000;
    font-weight: 400
}

#right a {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    color: #000;
    font-weight: 400
}

#right a:hover {
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    font-weight: 400
}

#right span.information {
    font: 1.0em 'Lato', sans-serif;
    color: #919393;
    font-weight: 400
}

#right table {
    height: 38px !important
}

h2 {
    margin-top: 0;
    margin-bottom: 30px;
    font: 1.45em 'Lato', sans-serif;
    color: #669bbb;
    text-transform: uppercase;
    font-weight: 900
}

#main .mod_search h3 a {
    font: .9em 'Lato', sans-serif;
    text-decoration: none;
    color: #669bbb;
    text-transform: uppercase;
    font-weight: 900
}

#main .ce_form label, #main .ce_form legend, #main .ce_form span.captcha_text {
    font: 1.3em 'Lato', sans-serif;
    color: #000;
    font-weight: 400
}

#main .ce_form label {
    margin-bottom: 8px
}
