/* resp_01.css */

/*
@media all and (max-width: 1200px){
    #header .mod_coverpicture img {
        width: auto;
        height: 100%;
        display: block;
        max-width: 800% !important
    }
}
*/
