/* Standard.css */
#container {
    position: initial
}

.inside {
    position: initial
}

.left-image_big {
    position: absolute;
    right: 3vw;
    top: 210px;
    width: 238px;
    z-index: 100;
    text-align: center;
    margin: 0 auto
}

.left-image_2 {
    position: absolute;
    right: 3vw;
    top: 210px;
    width: 182px;
    z-index: 100;
    text-align: center;
    margin: 0 auto
}

.left-image {
    position: absolute;
    right: 65px;
    top: 446px;
    width: 140px;
    z-index: 100;
    margin: 0 auto
}

.centered-image figure img {
    border-radius: 100%
}

.centered-image {
    position: absolute;
    right: 70px;
    top: 210px;
    width: 250px;
    z-index: 100;
    text-align: center;
    margin: 0 auto
}

html {
    height: 100%
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../../files/Layout/bg.gif");
    background-position: left top;
    background-repeat: repeat-x;
    overflow-y: scroll
}

#wrapper {
    width: 100%;
    height: auto;
    min-height: 100%
}

#wrapper {
    height: auto;
    margin-right: auto;
    margin-left: auto
}

#container{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex
}

.cookiebar {
    background-color: #44494c !important
}

.cookiebar__button {
    background-color: #721619
}

.cookiebar__button:hover {
    background-color: #919393
}


#main .ce_text table {
    width: 100%
}

#main .ce_text table td {
    width: 42%;
    padding-top: 5px;
    padding-bottom: 5px;
    font: 1.2em 'Lato', sans-serif;
    padding-right: 3%
}

#main .ce_text table tr {
    margin-bottom: 5px;
    border-top: 0px solid #c8c9c9;
    border-right: 0px solid #c8c9c9;
    border-bottom: 1px solid #c8c9c9;
    border-left: 0px solid #c8c9c9
}

#main .print_link {
    margin-top: 15px;
    padding-left: 5%
}

#main .print_link img {
    margin-right: 10px;
    vertical-align: middle
}

#main .print_link span {
    font-size: 1.1em
}

#main .mod_newsreader .galleria-theme-classic {
    background-color: #fff !important
}

#main .mod_newslist h2 {
    margin-bottom: 10px
}

#main .mod_newslist h2 a {
    color: #721619;
    font-weight: 600
}

#main .mod_newslist h2 a:hover {
    color: #000;
    font-weight: 600
}

#main .mod_newslist .layout_latest {
    padding-top: 10px;
    border-top: 3px solid #c8c9c9;
    margin-bottom: 10px
}

#main .mod_newslist p.info {
    color: #721619
}

#main .ce_form .formbody input.text {
    width: 96%;
    height: 25px;
    display: inline-block;
    padding-right: 2%;
    padding-left: 2%;
    vertical-align: top;
    background-color: #e9e9e9;
    border: 0px
}

#main .formbody input.captcha.mandatory {
    width: 50px;
    height: 25px;
    display: inline-block;
    margin-right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    vertical-align: top;
    background-color: #e9e9e9;
    border: 0px
}

#main .ce_form .formbody .textarea {
    width: 96%;
    height: 65px;
    display: inline-block;
    padding-right: 2%;
    padding-left: 2%;
    vertical-align: top;
    background-color: #e9e9e9;
    border: 0px
}

#main .ce_form .submit {
    margin-top: 20px;
    padding: 1px 5px;
    background-color: #919393;
    border: 0px;
    font: 1.2em 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer
}

#main .ce_form .widget-checkbox {
    margin-top: 29px
}

#main .ce_form .widget-checkbox input {
    float: left
}

#main .ce_form .widget-checkbox label {
    float: left;
    display: block;
    margin-top: -3px;
    margin-left: 7px
}

#main .ce_accordion div.toggler {
    width: 86%;
    min-height: 20px;
    margin-bottom: 5px;
    padding-right: 11%;
    padding-left: 3%;
    vertical-align: middle;
    background: #e9e9e9 url("../../files/Layout/acc_bottom.png") right center no-repeat;
    font: 1.4em 'Lato', sans-serif;
    color: #919393;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer
}

#main .ce_accordion div.toggler.active, #main .ce_accordion div.toggler:hover {
    width: 86%;
    min-height: 20px;
    margin-bottom: 0;
    padding-right: 11%;
    padding-left: 3%;
    vertical-align: middle;
    background: #919393 url("../../files/Layout/acc_top.png") right center no-repeat;
    font: 1.4em 'Lato', sans-serif;
    color: #e9e9e9;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 900;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer
}

#main .ce_accordion .accordion {
    margin-bottom: 7px;
    padding-top: 5%;
    padding-bottom: 5%;
    vertical-align: middle;
    background-color: #e9e9e9;
    font-family: 'Lato', sans-serif;
    color: #000;
    font-weight: 400;
    padding-top: 30px
}

#main div.accordion .ce_text {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 5%;
    padding-right: 3%
}

#main .mod_search {
    margin-top: 30px
}

#main .mod_search .submit {
    padding: 1px 5px;
    background-color: #919393;
    border: 0px;
    font: 1.2em 'Lato', sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer
}

#main .mod_search div {
    border-top: 0px solid #c8c9c9;
    border-right: 0px solid #c8c9c9;
    border-bottom: 3px solid #c8c9c9;
    border-left: 0px solid #c8c9c9
}

#main .mod_search div.formbody {
    border: 0px
}

#main .mod_search .formbody label {
    display: none
}

#right {
    width: 40%;
    float: left;
    padding-top: 67px;
    position: initial
}

#right span.fon, #right span.mail {
    background-color: #fff !important
}



#header .mod_navigation ul.level_2 li.active:hover {
    background-image: url("../../files/Layout/subnav_li.png") !important;
    background-position: left center !important;
    background-repeat: no-repeat !important
}