@import "variables";

body.header_image_small{
  #header .inside{
    height: 30vh;
  }
}


#header{
  h2.claim{
    background-color: $blue_dark;
    height: 47px;
    padding: 10px 0 0 0;
    width: 300px;
    text-align: center;
  }
  .ce_headline{
    max-width: unset;
  }
}


//___________________________Video

.video_header{
  width: 100%;
  object-fit: cover;
  height: 80vh;
}
@media screen and (max-height: 850px){
  .video_header{
    //height: 38vh;
  }
}


@media screen and (max-width: 1300px) {
  .video_header {
    //height: 38vh;
  }
}



//___________________________übernommen auf Standard.css

#header {
  background-image: url("../../files/Layout/header_bg.png");
  background-position: left top;
  background-repeat: repeat-x;
  position: relative;
  height: unset;

  .inside{
    position: relative;
    width: 100%;
    height: 80vh;}
}

#header .header_logo {
  height: auto;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  display: flex;
  width: 100%;
  justify-content: center;
  a{
    z-index: 1001;
  }
  img{
    width: 300px;
  }
}


#header .header_logo img[usemap], #header area {
  border: none;
  outline: none
}

#header .mod_customnav {
  right: 0;
  position: absolute;
  padding-top: 106px;
  left: 0;
  width: 100%;
  margin: auto;
  max-width: 1000px;
  z-index: 9999
}

#header .mod_customnav ul {
  display: flex;
  justify-content: flex-end
}


//___________________________________Suche

#header{

  .mod_form{

      max-width: 1000px;
      height: 18px;
      padding-top: 134px;
      position: absolute;
      right: 0;
      left: 0;
      margin: auto;
      z-index: 1000;

     form {
      display: flex;
      justify-content: flex-end
    }

     input.text {
      width: 110px;
      height: 16px;
      float: left;
      margin-right: 3px;
      padding-left: 4px;
      background-color: #fff;
      border: 1px solid white;
      margin-left: -105px;
       border-radius: 10px;
    }
    ::placeholder{
      color: black;
    }

    .widget-submit{
      margin: 0 0 0 20px;
      input.submit{
        width: 18px;
      }
    }

     .submit_container {
      float: left
    }
  }
}



#main .ce_form label {
  display: block;
  margin-top: 8px
}

#header .mod_pageimage {
  height: 100%;
  position: absolute;
  z-index: -5;
  width: 100%;
  overflow: hidden;
  max-height: 80vh;
  figure{
    height: 100%;
  }
  img{
    height: 100%;
    object-fit: cover;
    width: 100%;
  }
}


#header .geschichte {
  width: 100%;
  height: 115px;
  max-width: 993px;
  position: absolute;
  margin-top: 224px;
  z-index: 1000;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  img{
    width: 300px;
    height: 52px;
    object-fit: contain;
    background-color: $blue_dark;
  }
}

#header .geschichte_mobil {
  display: none
}

#header .wrapper-headline-text{
  background-color: rgba(0,0,0,0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24vh;
  min-height: 280px;
  position: absolute;
  bottom: 0;
  width: 100%;
  .headline-text{
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    max-width: 1000px;
    width: 100%;
    p,h1,h2,h3{
      color: white;
      text-align: center;
      text-transform: unset;
    }
    h1{
      border-bottom: 1px solid white;
      padding: 0 0 30px 0;
      margin: 0 0 30px 0;
      font-style: italic;
      line-height: 1.3;
      font-size: 1.8em;
      span{
        font-weight: 300;
        font-style: italic;
      }
    }
    .ce_text{
      margin: 0 auto;
      p{
        max-width: 655px;
        font: 1.3em 'Lato', sans-serif;
        line-height: 1.4;
        font-style: italic;
      }
    }
  }
}






#header .mod_navigation {
  width: 100%;
  height: 250px;
  max-width: 1001px;
  top: 535px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0
}

#header .mod_navigation ul.level_1 li {
  width: 16.6667%;
  height: 50px;
  display: table-cell;
  vertical-align: middle
}

#header .mod_navigation ul.level_1 li.active:hover {
  background-image: none !important
}

#header .mod_navigation ul.level_1 li.trail.frei.last, #header .mod_navigation ul.level_1 a.trail.frei.last {
  border-right: 0px;
  border: none !important
}

#header .mod_navigation ul ul {
  width: 16.6667%;
  left: -9999px;
  position: absolute
}

#header .mod_navigation ul li:hover ul {
  width: 16.6667%;
  left: auto;
  float: none;
  display: block
}

#header .mod_navigation ul.level_2 li {
  width: 100%;
  height: 30px;
  float: none;
  display: inline-block;
  padding-top: 0;
  background: #919393 url("../../files/Layout/subnav_li.png") left center no-repeat;
  border-top: 2px solid #fff;
  border-right: 0px solid #fff
}

#header .mod_navigation ul.level_2 li:hover, #header .mod_navigation ul.level_2 li.active {
  width: 100%;
  height: 30px;
  float: none;
  display: block;
  background: #919393 url("../../files/Layout/subnav_li.png") left center no-repeat;
  border-top: 2px solid #fff;
  border-right: 0px solid #fff
}

#header .mod_navigation ul.level_2 li.active, #header .mod_navigation ul.level_2 li:hover {
  background: #721619 url("../../files/Layout/subnav_li.png") left center no-repeat
}
#header .mod_quicknav {
  display: none
}





//____________________________übernommen aus Basic.css
#header .mod_customnav ul.level_1 a {
  font: 1.2em 'Lato', sans-serif;
  text-decoration: none;
  color: #919393;
  text-transform: uppercase;
  font-weight: 400
}

#header .mod_customnav ul.level_1 a:before, #header .mod_customnav ul.level_1 strong:before {
  font: 1.2em 'Lato', sans-serif;
  text-decoration: none;
  color: #919393;
  text-transform: uppercase;
  font-weight: 400;
  content: "» "
}

#header .mod_customnav ul.level_1 a:hover:before, #header .mod_customnav ul.level_1 strong:before {
  color: #44494c
}

#header .mod_customnav ul.level_1 a:hover, #header .mod_customnav ul.level_1 strong {
  font: 1.2em 'Lato', sans-serif;
  text-decoration: none;
  color: #44494c;
  text-transform: uppercase;
  font-weight: 400
}

#header .mod_form input.text {
  font: 1.1em 'Lato', sans-serif;
  text-decoration: none;
  color: #919393;
  text-transform: uppercase;
  font-weight: 400
}

#header .mod_navigation ul.level_1 a {
  height: 50px;
  margin: 0;
  padding-right: 0;
  padding-left: 6px;
  vertical-align: middle;
  background-color: #44494c;
  border-right: 2px dotted #fff;
  font: 1.12em 'Lato', sans-serif;
  text-decoration: none;
  color: #919393;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: calc(100% - 8px)
}

#header .mod_navigation ul.level_1 a:before, #header .mod_navigation ul.level_1 strong:before, #header .mod_navigation ul.level_1 a.trail:before {
  margin: 0;
  padding-right: 7px;
  padding-left: 0;
  font: 2em 'Lato', sans-serif;
  text-decoration: none;
  color: #919393;
  text-transform: uppercase;
  font-weight: 900;
  content: "»  ";
  margin-top: -7px
}

#header .mod_navigation ul.level_1 a:hover:before, #header .mod_navigation ul.level_1 strong:before, #header .mod_navigation ul.level_1 a.trail:before {
  color: #fff
}

#header .mod_navigation ul.level_1 a.last, #header .mod_navigation ul.level_1 strong.last, #header .mod_navigation ul.level_1 a:hover.last, #header .mod_navigation ul.level_1 a.trail.last {
  height: 50px;
  vertical-align: middle;
  border-right: 0px;
  display: flex;
  align-items: center;
  width: calc(100% - 8px)
}

#header .mod_navigation ul.level_1 a:hover, #header .mod_navigation ul.level_1 strong, #header .mod_navigation ul.level_1 a.trail {
  height: 50px;
  padding-left: 6px;
  vertical-align: middle;
  background-color: #721619;
  border-right: 2px dotted #fff;
  border-left: 0px dotted #fff;
  font: 1.12em 'Lato', sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
  display: flex;
  align-items: center;
  width: calc(100% - 8px)
}

#header .mod_navigation ul.level_2 a, #header .mod_navigation ul.level_2 a:hover, #header .mod_navigation ul.level_2 strong {
  height: 30px;
  display: block;
  padding-left: 25px;
  vertical-align: middle;
  font: 1.15em 'Lato', sans-serif;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  background: none;
  border: none;
  width: calc(100% - 25px);
  height: 30px !important;
  display: flex;
  align-items: center
}

#header .mod_navigation ul.level_2 a:before, #header .mod_navigation ul.level_2 strong:before, #header .mod_navigation ul.level_2 a.trail:before {
  display: none
}