@import 'variables';

#slideShow {
  position: relative;
  width: 100%;
  max-height: 80vh;
}

#slideShow img {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  height: 60vh;
  object-fit: cover;
  width: 100%;
}

#slideShow .next {
  //width: 20px;
  //height: 360px;
  //position: absolute;
  //background-color: #ccc;
  //cursor: pointer;
  //right: 0;
}

#slideShow .prev{
  //width: 20px;
  //height: 360px;
  //position: absolute;
  //background-color: #ccc;
  //cursor: pointer;
  //left: 0;
}

#main .mod_article .ce_sliderStart {
  height: 500px;
  margin-bottom: 200px;
  .content-slider {
    height: 100%;
    .slider-wrapper {
      height: 100%;
      .ce_image {
        height: 100%;
        figure {
          height: 100%;
          background: #cecece;
          img {
            height: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  #main .mod_article .ce_sliderStart {
    height: 300px;
  }
}
