@import 'variables';

#main .tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 800px;
  margin: 0 auto;
  .tile {
    display: flex;
    position: relative;
    width: 48%;
    height: 400px;
    margin: 20px 0;
    img {
      position: absolute;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 10;
    }
    h3 {
      width: 100%;
      height: 1em;
      z-index: 20;
      color: white;
      font-weight: bold;
      text-align: center;
      font-size: 26px;
      text-shadow: 0 0 4px #404040;
    }
    .tile-overlay {
      position: absolute;
      opacity: 0;
      top: 50%;
      transform: translateY(-50%);
      box-sizing: border-box;
      padding: 40px;
      color: white;
      z-index: 15;
      transition: opacity 250ms ease-out;
      p span {
        background: $blue_dark;
        padding: 8px 10px;
        font-size: 19px;
        font-weight: bold;
        box-decoration-break: clone;
        line-height: 2.4em;
      }
    }
    .tile-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: '';
      background: $blue_dark;
      opacity: .7;
      z-index: 12;
      transition: opacity 250ms ease-out;
    }
    &:hover {
      .tile-overlay {
        opacity: 1;
      }
      .tile-background {
        opacity: 0;
      }
    }
  }
}

#project-filter {
  max-width: 800px;
  margin: 0 auto;
  .project-filter-elements {
    .project-filter-item {
      padding: 8px 10px;
      background: $blue_dark;
      border-radius: 3px;
      color: white;
      font-weight: bold;
      text-transform: uppercase;
      margin: 10px;
      transition: background-color 250ms;
      &:hover {
        background-color: $blue_light;
      }
      &.active {
        background-color: $blue_light;
        &:hover {
          cursor: initial;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
  }
  .clear-filter {
    margin: 25px 10px;
  }
}

@media screen and (max-width: 700px) {
  #main .tiles .tile {
    width: 100%;
  }
}

